.mat-menu-content {
    list-style-type: none;
    padding: 0;
  }
  
  .mat-menu-panel {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .mat-menu-item {
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  .mat-menu-item:hover {
    background-color: #f0f0f0;
  }
  .user-image {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    margin-right: 8px; /* Espacio entre la imagen y el texto */
    vertical-align: middle;
  }
  
  .user-image-menu {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    margin-right: 8px; /* Espacio entre la imagen y el texto */
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }
  