<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Grupo Flores</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="./tareas" routerLinkActive="active"
            *ngIf="!isIniciarRoute() && !isRegistrarseRoute()  && isCliente()">Preguntas</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="./private" routerLinkActive="active"
            *ngIf="!isIniciarRoute() && !isRegistrarseRoute()&& authService.loggedIn()">Privacidad</a>
        </li> -->

        <!-- Nueva pestaña "Almacén" -->
        <li class="nav-item"
          *ngIf="!isIniciarRoute() && !isRegistrarseRoute() && authService.loggedIn()&& isAdministrador()">

          <a class="nav-link mat-button" [matMenuTriggerFor]="almacenMenu" (mouseenter)="toggleMenu()"
            (mouseleave)="toggleMenu()" routerLink="/dashboard/admin/list">
            <mat-icon>storage</mat-icon> Almacén
          </a>
          <mat-menu #almacenMenu="matMenu" class="mat-menu-panel" [@fadeInOut]="menuState">
            <ul class="mat-menu-content">
              <li class="mat-menu-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/dashboard/admin/ProductoAlta">
                  <mat-icon>file_upload</mat-icon> Subir Productos
                </a>
              </li>
              <li class="mat-menu-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/dashboard/admin/list">
                  <mat-icon>list</mat-icon> Listado de Producto
                </a>
              </li>
            </ul>
          </mat-menu>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/Shop/Tienda" routerLinkActive="active"
            *ngIf="!isIniciarRoute() && !isRegistrarseRoute() && authService.loggedIn() && (isCliente() || isAdministrador())">
            <i class="fas fa-store"></i> Tienda
          </a>
        </li>
        
      </ul>



      <ul class="navbar-nav ml-auto">

        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item" *ngIf="!isRegistrarseRoute()">
            <a class="nav-link" routerLink="./iniciar" routerLinkActive="active">Iniciar</a>
          </li>
          <li class="nav-item" *ngIf="!isIniciarRoute() ">
            <a class="nav-link" routerLink="./registrar" routerLinkActive="active">Registrate</a>
          </li>
        </ng-container>

        <ng-template #loggedIn>

          <li *ngIf="isCliente() || isAdministrador">
            <button mat-icon-button routerLink="/dashboard/Shop/Carrito">
              <mat-icon style="vertical-align: middle;">shopping_cart</mat-icon>
            </button>
          </li>

          <li><a class="nav-link" style="cursor:pointer;" (click)="authService.logout()">Cerrar Sesion</a>
          </li>

          <li *ngIf="loggedIn">
            <span>{{ nombre || 'Usuario' }} ({{ tipoUsuario || 'Tipo desconocido' }})</span>
          </li>



        </ng-template>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <!-- <router-outlet></router-outlet> -->
</div>