<div class="col-lg-4 mx-auto h-auto">
  <div class="card-header">
    Subir Producto
  </div>
  <div class="card-body">
    <form (submit)="uploadProduct(title, description, price, quantity)">
      <div class="form-group">
        <select class="form-control" required #title>
          <option value="Ligero Mazizo">Bloc Ligero Mazizo</option>
          <option value="Block Pesado">Block Pesado </option>
          <option value="Block de cocol ">Block de cocol</option>
          <option value="Block de color ">Block de color</option>
          <option value="Block de curva ">Block de curva</option>
          <option value="Tabicon ligero ">Tabicon ligero</option>
          <option value="Tabicon pesado ">Tabicon pesado</option>
          <option value="Block Tronchado ">Block Tronchado</option>
        </select>
      </div>
      
      <div class="form-group">
        <textarea rows="2" placeholder="Descripcion del Producto" class="form-control" required #description></textarea>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Precio por pieza" required #price>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Cantidad de piezas" required #quantity>
      </div>
      <div class="form-group">
        <input type="file" class="d-none" (change)="onPhotoSelect($event)" #photoInput>
        <img [src]="photoSelected || 'assets/imagenes/subirArchivo.png'" class="img-fluid" alt="no imagenes" (click)="photoInput.click()">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Subir Producto
        </button>
      </div>
    </form>
  </div>
</div>
