<div class="container">
    <div class="row text-center">
        <p class="col-md-12  text-center">Comparte con nosotros tus datos de contacto y te enviaremos toda la informacón de los medios de pagos. 
        </p>
    </div>
    <form  >
            <div class="form-row ">
              <div class="col-md-5 cold-sm-12">
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
              <div class="col-md-5 cold-sm-12 ">
                <input type="text" class="form-control" placeholder="Apellidos">
              </div>
            </div>
            <div class="form-row ">
                <div class="col-md-5 cold-sm-12 ">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="col-md-5 cold-sm-12 ">
                    <input type="phone" class="form-control" placeholder="Telefono">
                </div>
                <button class="btn col-md-2 offset-md-5  boton">ENVIAR</button>
            </div>
    </form>    
</div>
