input, select{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    align-items: center;
    text-align: center;
}
button{
    background-image: linear-gradient(160deg, #746afa 0%, #adbdb9 100%);
    border-radius: 20px;
    color: #fff;
    margin-bottom: 6rem;
    width: 100%;
}
form{
    margin-left: 40px;
}
