<button mat-icon-button *ngIf="isSmallScreen" (click)="toggleSidenav()">
  <mat-icon *ngIf="!sidenav?.opened">menu</mat-icon>
  <mat-icon *ngIf="sidenav?.opened">close</mat-icon>
</button>

<mat-sidenav-container class="example-container">
  <!-- Sidenav (menú lateral) -->
  <mat-sidenav #sidena="matSidenav" [mode]="sidenavMode" [opened]="sidenavOpened">
    <!-- Contenido del sidenav -->
    <app-admin-nav [sidenav]="sidena"></app-admin-nav>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z14">
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
