/* Ajustar el ancho del menú lateral */
mat-sidenav {
  width: 250px; /* Ajusta el ancho según tus necesidades */
}

/* Ajustar el margen izquierdo del contenido principal */
.content{
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin:16px0 ;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  color: lightgray;
}
