.marketing-component {
  position: relative;
}

.header {
  position: relative;
  margin-top: 10px; /* Ajusta este valor según tus necesidades */
}

.image {
  border-radius: 50px;
  width: 50%;
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 18px;
}

/* Agrega más estilos según tus preferencias */
/* cajitas Valores */
.values-train {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.train {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #4a90e2, #63c2de, #ffffff); /* Degradado en tonos azules */
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.train:hover {
  transform: translateY(-10px);
}

.value-item {
  padding: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.description {
  display: none;
}

.train-item:hover .description {
  display: block;
}


/* mas estilos  */   
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 48px;
  margin:  15px; /* Espacio horizontal entre íconos */
  transform: scale(1);
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.facebook-icon {
  color: #1877F2;
}

.whatsapp-icon {
  color: #25D366;
}

.messenger-icon {
  color: #0084FF;
}

.instagram-icon {
  color: #C13584;
}