<div class="bottom-bar">
   
    <div class="company-info">
      <h4>Grupo Flores </h4>
      <p>Somos una empresa unida, con 30 años de trabajo en la
        elaboración de blocs y tabicón para construcción.</p>
        <div class="contact-info">
          <div class="contact-numbers">
            <span>Teléfono: +52 56 33 69 37 98</span>
            <span>,</span>
            <span> Email: GrupoFlores@gmail.com</span>
          </div>
               <div class="address">
            <span>Manzana 006, Ixtapalcalco, 54666 Coyotepec, Méx.</span>
          </div>
        </div>
    </div>
 
    <div class="menu-links">
      <a href="#">Principal</a>
      <a href="#">Sobre Grupo Flores</a>
      <a href="#">Mision</a>
      <a href="#">Contacto</a>
    </div>
  </div>
  