.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inner {
    display: block;
    position: relative;
    width: 100%;
    // max-width: 1300px;
    margin-top: 5px;
    overflow: hidden;
   }
   img {
    padding: 0.5%;
    width: 500px; /* Ancho un poco más grande para todas las imágenes */
    height: 400px; /* Alto un poco más grande para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
  }
  
  img:hover {
    display: block;
    cursor: pointer;
    transition: filter 150ms;
    filter: contrast(85%);  
  }
  
  
  .images-wrapper {
    display: flex;
    align-items: center;
  }
  
  .slider__navbutton {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #757786;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .slider__navbutton:hover {
    background-color: #000;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  #prev::after,
  #next::after {
    content: "";
    position: absolute;
    border: solid white;
    border-width: 0 4px 4px 0;
    padding: 4px;
    width: 10%;
    height: 10%;
  }
  #next::after {
    top: 50%;
    right: 50%;
    transform: translate(25%, -50%) rotate(-45deg);
  }
  #prev::after {
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
  }
  
  .slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  @media only screen and (max-width: 640px) {
    .slider__navbutton {
      height: 30px;
      width: 30px;
    }
  
    .slider__slide {
      background-size: 100%;
    }
  
    .slider {
      height: 100%;
      width: 100%;
      margin: 10px;
      padding: 10px;
    }
    img {
      padding: 5%;
      width: 100%;
      height: 100%;
    }
  }
  
  .example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
    
  }
  