<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card-header text-center">
  <h2>Iniciar sesión</h2>
  <p>¡Bienvenido! Inicia sesión para acceder a tu cuenta.</p>
</div>
    <div class="card-body">
      <form [formGroup]="iniciarForm" (ngSubmit)="checInicio()">
        <!-- correo -->
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" placeholder="Correo Electrónico">
          <div *ngIf="iniciarForm.get('email')?.hasError('required') && iniciarForm.get('email')?.touched" class="text-danger">
            Correo electrónico es requerido.
          </div>
          <div *ngIf="iniciarForm.get('email')?.hasError('email') && iniciarForm.get('email')?.touched" class="text-danger">
            Correo electrónico debe ser válido.
          </div>
          <div *ngIf="iniciarForm.get('email')?.hasError('maxLength') && iniciarForm.get('email')?.touched" class="text-danger">
            Correo electrónico no debe exceder los 100 caracteres.
          </div>
        </div>
<!-- password -->
        <div class="form-group">
          <div class="password-input-container">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              formControlName="password"
              class="form-control"
              placeholder="Contraseña"
            />
            <span class="password-icon" (click)="togglePasswordVisibility()">
              <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
            </span>
          </div>

          <div class="forgot-password">
            <a href="#" class="link-forgot-password">¿Olvidaste tu contraseña?</a>
          </div>

          <div *ngIf="iniciarForm.get('password')?.hasError('required') && iniciarForm.get('password')?.touched" class="text-danger">
            Contraseña es requerida.
          </div>
          <div *ngIf="iniciarForm.get('password')?.hasError('minlength') && iniciarForm.get('password')?.touched" class="text-danger">
            Contraseña debe tener al menos 6 caracteres.
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
        <hr class="separator"> 

        <div class="new-account">
          ¿Eres nuevo? <a  class="link-new-account" (click)="openRegistroModal()">Crea una cuenta</a>
        </div>
        <ng-template #signupContent let-modal>
          <app-registro></app-registro>
        </ng-template>
        
        <p>{{ mensajeBienvenida }}</p>
        <hr class="separator"> 
      </form>
    </div>
  </div>
</div>
