<div class="pago-exitoso" *ngIf="showSuccessMessage">
  <div class="icono-exito">
    <!-- Icono de la palomita -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="exito-icon">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
    </svg>
  </div>
  <h1>¡Pago Exitoso!</h1>
  <p>Gracias por tu compra, ahora puedes seguir disfrutando de nuestros productos.</p>
  <button (click)="continueShopping()">Seguir Comprando</button>
</div>
