 <hr class="separator">
  <p>Redes Sociales</p>
 <div class="icon-container">
   <a href="https://www.facebook.com/sharer/sharer.php?u=URL_DE_TU_PAGINA" class="icon facebook-icon" 
target="_blank"><i class="fab fa-facebook"></i></a>
 <a href="whatsapp://send?text=URL_DE_TU_PAGINA" class="icon whatsapp-icon" ><i class="fab fa-whatsapp"></i></a>
 <a href="https://www.messenger.com/share?url=URL_DE_TU_PAGINA" class="icon messenger-icon" target="_blank"><i 
class="fab fa-facebook-messenger"></i></a>
 <a href="https://www.instagram.com/?url=URL_DE_TU_PAGINA" class="icon instagram-icon" target="_blank" ><i class="fab 
fa-instagram"></i></a>
<!-- Agrega más enlaces con íconos y colores para otras plataformas si lo deseas -->
 </div>
 <hr class="separator">








 



