<div class ="row">
    <div class="col-md-4 mx-auto">
        <div class="card-header text-center">
            <h1>Crea una Cuenta</h1>
            <p>Es Facil y Sencillo</p>
        </div>
        <div class="card-body">
            
                
            <form >
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre completo" required autofocus>
                </div>
                <div class="form-group">
                    <div class="d-flex">
                        <input type="text" [(ngModel)]="user.apellidoP" name="apellidoP" class="form-control mr-2" placeholder="Apellido Paterno" required>
                        <input type="text" [(ngModel)]="user.apellidoM" name="apellidoM" class="form-control" placeholder="Apellido Materno" required>
                    </div>
                </div>              
                <div class="form-group">
                    <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Correo Electronico" required >
                 
                </div> 
               
                <div class="form-group">
                    <div class="input-with-icon">
                        <input type="{{ passwordVisible ? 'text' : 'password' }}" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
                        <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
                            <i class="fa" [ngClass]="{'fa-eye': passwordVisible, 'fa-eye-slash': !passwordVisible}"></i>
                        </button>
                    </div>
                    <div *ngIf="passwordError" class="password-error">
                        {{ passwordError }}
                    </div>
                </div>                            
                <div class="form-group">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date" [(ngModel)]="user.fechaNacimiento" name="fechaNacimiento" class="form-control" required 
                           max="{{ getMaxDate() | date:'yyyy-MM-dd' }}"
                           (blur)="validateAge()">
                    <div *ngIf="ageError" class="age-error">
                        {{ ageError }}
                    </div>
                </div>         
                <div class="form-group">
                    <label> Sexo ?</label>
                    <div class="form-check">
                        <input type="radio" [(ngModel)]="user.sexo" name="sexo" class="form-check-input" value="Masculino" required>
                        <label class="form-check-label">Masculino</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" [(ngModel)]="user.sexo" name="sexo" class="form-check-input" value="Femenino" required>
                        <label class="form-check-label">Femenino</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" [(ngModel)]="user.sexo" name="sexo" class="form-check-input" value="Otro" required>
                        <label class="form-check-label">Otro</label>
                    </div>
                </div>
                
                <div *ngIf="user.sexo === 'Otro'" class="form-group">
                    <label>Describa Sexo</label>
                    <input type="text" [(ngModel)]="otroSexoDescripcion" name="otroSexoDescripcion" class="form-control" placeholder="Describa Sexo">
                </div>
                
                <button type="submit" (click)="registrar()" class="btn btn-primary btn-block" data-toggle="modal" data-target="#errorModal">
                    Registrate
                </button>                
                <div class="form-group">
                    <label>¿Tienes una cuenta? <a routerLink="../iniciar" routerLinkActive="active">Inicia sesión</a></label>
                </div>
            </form>
              
          </div>
    </div>
</div>
