<div class="container-centered">
  <div *ngIf="productosEnCarrito.length > 0">
    <!-- Vista del carrito con productos -->
    <div *ngFor="let producto of productosEnCarrito" class="row mb-3">
      <div class="col-3">
        <img [src]="'http://localhost:3000/' + producto.imagePath" class="card-img-top w-100">
      </div>
      <div class="col-6">
        <h4 class="producto-titulo">{{ producto.title }}</h4>
        <p>Precio (unit): {{ producto.price | currency }}</p>
        <p>Disponibilidad: {{ producto.quantity }}</p>
        <div class="d-flex align-items-center">
          <button class="btn btn-colorido btn-sm me-1" (click)="decrementarCantidad(producto)">
            <i class="fas fa-minus"></i>
          </button>
          <input type="number" [(ngModel)]="producto.cantidadSeleccionada" min="1" max="{{producto.quantity}}" placeholder="0" class="form-control-4" (ngModelChange)="verificarCantidad(producto, $event)">

          <button class="btn btn-colorido btn-sm ms-1" (click)="incrementarCantidad(producto)">
            <i class="fas fa-plus"></i>
          </button>
          <button class="btn btn-danger btn-sm ms-1" (click)="eliminarDelCarrito(producto)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <div class="col-3">
        <p>Subtotal: {{ calcularSubtotal(producto) | currency }}</p>
      </div>
    </div>
    <div class="text-end">
      <h4>Total: {{ calcularTotal() | currency }}</h4>
      <button class="btn btn-danger" (click)="vaciarCarrito()">
        <i class="bi bi-trash"></i> Vaciar Carrito
      </button>
      <button class="btn btn-primary" (click)="redirigirACompras()">
        <i class="bi bi-cart"></i> Seguir Comprando
      </button>
      <button class="btn btn-success" (click)="crearPedido()">
        Continuar
      </button>
    </div>

  </div>

  <div *ngIf="productosEnCarrito.length === 0">
    <!-- Vista cuando el carrito está vacío -->
    <div class="text-center mt-5">
      <img src="ruta/a/imagen_carrito_vacio.jpg" alt="Carrito Vacío" class="img-fluid">
      <h3 class="producto-titulo">Carrido Vacío</h3>
      <p>No tienes ningún producto en tu carrito</p>
      <button class="btn btn-primary btn-colorido" (click)="redirigirACompras()">
        <i class="bi bi-cart"></i> Ir a Compras
      </button>
    </div>
  </div>
</div>